* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
    background: url("rps_bg.png");
}

header {
    height: 70px;
    background-color: rgb(0 0 0 / .2);
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    padding: 20px;
}

button {
    /*width: 50px;*/
    padding: 2px 5px;
    margin: 10px 0;
}

h2 {
    margin-top: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th {
    width: 33%;
}

td {
    text-align: center;
}

#wrapper {
    width: 400px;
    margin: 0 auto;
    background-color: rgb(255 255 255 / .6);
}

.choices {
    display: flex;
    justify-content: space-around;
    /*margin: 5px 0;*/
}

.modes {
    /*margin: 10px 0;*/
}

.extended-game-mode {
    display: none;
}
